.imgg{
  width: 99%;
  height: 150px;
}

.foodd{
  width: 99%;
  height: 60%;
  margin: 5px;
}

.topProduct{
   height: 220px;
}

 
.proCardCart{
  background-color: rgb(182, 173, 158);
  margin-bottom: 5px;
}
.bgCard{
  background-color: rgb(128, 130, 129);
  opacity: 0.9;
}