
   
   <div class="container">   
    <div class="row" style="height: 100vh">     
       <div class="col-6"  *ngFor="let card of cards" (click)="onCardClick(card)">
         <div class="foodd bg-info">
             <img [src]="card.imageUrl" alt="" class="imgg" >
             <div class=" bg-info align-items-center cp-18">
                 <div class="title-9 text-white">{{ card.title }}</div>
             </div>
             <a [routerLink]="['/card', card.id]">View Details</a>
 
         </div>   
       </div>
   </div>
 </div>
 <button (click)="onClearLocalStorageClick()" class="bg-danger mb-2 ml-3">Clear Local Storage</button>
 
 
 
 