<div class="menu-div">
    <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top">
        <a class="navbar-brand" href="#"><img src="assets/images/logo.svg" alt="" class="header-logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img src="assets/images/bars.png" alt="" width="20px">
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="items-center nav navbar-nav title-4 menu-width">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="index">Home</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="about-us">About Us</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="Capital">Capital</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/cart">Cart</a></li>
            </ul>

        </div>
    </nav>
</div>